*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
border: 2px solid black;
  margin: 0 auto;
  padding: 0;
  background-color: red;
  font-family: $font-page;
  font-weight: 400;
  color: $grey400;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $desktop-width) {
  body {
    max-width: 1440px;
  }
}
