*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $default-white;
  font-family: $font-page;
  font-weight: 400;
  color: $grey400;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $desktop-width) {
  body {
    position: relative;
  }
}
