.button {
  padding: 10px 44px;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button--green {
  color: $default-white;
  background-color: $basic-green;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--grey {
  background-color: $light-grey2;

  &:hover {
    background-color: $light-grey-b;
  }

  &:active {
    background-color: rgba(235, 235, 235);
    color: rgba(68, 68, 68, 0.3);
  }
}

.button--card,
.button--cross-sell {
  padding: 10px 0;
}

.button--mobile {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .button {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  .button--mobile {
    width: auto;
  }
}
