.button {
  padding: 8px 44px;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--green {
    color: $light-color;
    background-color: $basic-green;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--grey {

    background-color: $basic-grey;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: rgba(235, 235, 235);
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--card,
  &--cross-sell {
    padding: 10px 0;
  }

  &--mobile {
    width: 280px;
  }

  &--big {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }

}



