.card {

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
  padding-top: 19px;
  padding-bottom: 25px;

  &--show-all {
    grid-template-columns: 1fr;
    padding: 25px 20px;
  }
}

.card__link-img {
  grid-column: 1;
}

.card__link-img--show-all {
  margin: 0 auto;
  grid-column: 1/3;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.card__image {
  display: block;
}

.card__image--show-all {
  margin: 0 auto;
  grid-column: 1/-1;
  margin-top: 0;
}

.card__link {
  @include link-style;
  color: $default-black;
  grid-column: 2;
}

.card__text-content {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &--show-all {
    grid-row: 2;
    align-items: center;
  }
}

.card__title {
  margin: 0;
  padding-right: 60px;
  font-size: $font-medium;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  &--show-all {
    padding-right: 0;
  }
}

.card__descr {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $font-second;
  font-size: $font-small;
  line-height: 16px;
  font-weight: 400;
}

.card__descr tr {
  display: flex;
  justify-content: space-between;
}

.card__button {
  @include link-style;
  grid-column: 1/3;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    cursor: pointer;
  }
}

.card__button--show-all {
  @include link-style;

  &:hover {
    opacity: 0.5;
  }
}

//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .card {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4 1fr;
    row-gap: 0;
    padding-top: 19px;
    padding-bottom: 37px;
    padding-left: 37px;
    padding-right: 37px;
    background: linear-gradient(to top, $light-grey2 82%, $default-white 82%);

    &--show-all {
      min-height: 433px;
      grid-template-columns: 1fr;
      padding: 37px 38px;
      padding-top: 3px;
      background: none;
      border: 2px solid $light-grey2;
      margin-top: 96px;
    }
  }

  .card__link-img {
    grid-column: 1/3;
    margin-bottom: 35px;
  }

  .card__image {
    margin: 0 auto;
    margin-top: 0;
    display: block;

    &--show-all {
      margin: 0 auto;
      grid-column: 1/3;
      margin-top: 50px;
    }
  }

  .card__text-content {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 0;

    &--show-all {
      align-items: center;
    }
  }

  .card__title {
    text-align: center;
    padding: 0 50px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13px;

    &--show-all {
      padding-top: 10px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .card__descr {
    font-size: $font-medium;
    line-height: 20px;
    padding-bottom: 32px;

    &--show-all {
      text-align: center;
      padding: 0;
      line-height: 18px;
    }
  }

  .card__descr tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey-d;
    margin-top: 4px;
    padding-bottom: 5px;
  }

  .card__button {
    grid-column: 1/3;
    margin-top: auto;
  }
}

//********************** DESKTOP **********************//

@media (min-width: $desktop-width) {
  .card {
    width: 245px;

    &--show-all {
      min-height: 430px;
      grid-template-columns: 1fr;
      padding-top: 3px;
      background: none;
      border: 2px solid $light-grey2;
      margin-right: auto;
    }
  }

  .card__link-img {
    grid-column: 1/3;
    margin-bottom: 35px;
  }

  .card__image {
    margin-left: -10px;
    display: block;

    &--show-all {
      margin: 50px auto 0;
      grid-column: 1/3;
      margin-top: 50px;
    }
  }

  .card__text-content {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 0;

    &--show-all {
      align-items: center;
    }
  }

  .card__title {
    padding: 0 10px;


    &--show-all {
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .card__descr {
    font-size: $font-medium;
    line-height: 18px;
    padding-bottom: 32px;

    &--show-all {
      text-align: center;
    }
  }

  .card__descr tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey-d;
    margin-top: 4px;
    padding-bottom: 5px;
  }

  .card__button {
    grid-column: 1/3;

    margin-top: auto;
  }
}
