.catalog {

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  border-top: 1px solid $light-grey-d;
  border-bottom: 1px solid $light-grey-d;
}

.catalog__title {
  padding: 20px;
  padding-top: 27px;
  padding-bottom: 41px;
  margin: 0;
  font-size: $font-big;
  line-height: 36px;
  font-weight: 400;
}

.catalog__list {
  @include list-reset;
}

.catalog__item-container {
  border-top: 1px solid $light-grey-d;
}


//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .catalog {
    border-top: none;
    border-bottom: none;
  }

  .catalog__title {

    padding: 30px;
    padding-top: 45px;
    padding-bottom: 71px;
    margin: 0;
    font-size: $font-huge;
    line-height: 60px;
    font-weight: 400;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    gap: 52px;
  }

  .catalog__item-container {
    width: 324px;
    border-top: none;
  }
}


//********************** DESKTOP **********************//

@media (min-width: $desktop-width) {
  .catalog__title {

    padding: 110px;
    padding-top: 60px;
    padding-bottom: 85px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0 110px;
    gap: 78px;
  }

  .catalog__item-container {
    width: 245px;
    // min-height: 511px;
    border-top: none;
  }
}
