.cross-sell__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.cross-sell__line {
  padding-top: 25px;
}

.cross-sell__title {
  margin: 0;
  padding-right: 0;
  padding-bottom: 34px;
  font-size: $font-large;
  line-height: 24px;
  font-weight: 400;
}

.cross-sell__list {
  @include list-reset;
  padding: 0;
  grid-column: 2 span;
  border-top: 1px solid $light-grey-d;
}

.cross-sell__item {
  padding: 13px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey-d;
}

.cross-sell__item:first-child {
  border-bottom: 1px solid $light-grey-d;
}

.cross-sell__item-title {
  margin: 0;
  font-size: $font-medium;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.cross-sell__item-descr {
  font-family: $font-second;
  line-height: 14px;
  margin: 13px 0;
  display: flex;
  justify-content: space-between;
}

.cross-sell__button {
  grid-column: 2 span;
  width: 100%;
}


//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .cross-sell__container {
    padding: 0 30px;
  }

  .cross-sell__title {
    margin: 0;
    margin-bottom: 45px;
    font-size: $font-big;
    line-height: 36px;
  }

  .cross-sell__list {
    padding: 0;
    border-top: none;
  }

  .cross-sell__item {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 38px;
    padding-right: 38px;
    border: 1px solid $light-grey-d;
  }

  .cross-sell__item-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .cross-sell__item-descr {
    font-size: 16px;
    line-height: 16px;
    display: flex;
    gap: 49px;
    margin-top: -3px;
  }

  .cross-sell__button {
    min-height: 40px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}


//******************* DESKTOP***********************//

@media (min-width: $desktop-width) {
  .cross-sell {
    width: 1440px;
    margin: 0 auto;
    padding-left: 40px;
  }

  .cross-sell__title {
    margin-bottom: 44px;
  }

  .cross-sell__container {
    grid-template-columns: 1fr 1fr 355px;
    width: 1440px;
    padding: 0 150px 85px 70px;
    display: flex;
    justify-content: space-between;
  }

  .cross-sell__list {
    width: 895px;
    padding: 0;
  }

  .cross-sell__item {
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid $light-grey-d;

    &:first-child {
      border-top: 1px solid $light-grey-d;
    }
  }

  .cross-sell__item-title {
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 80px;
  }

  .cross-sell__item-descr {
    margin: 0;
    width: 285px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    gap: 0;
  }

  .cross-sell__button {
    min-width: 244px;
    min-height: 40px;
    width: auto;
  }
}
