.example {
  background-color: $light-grey2;
  padding-bottom: 40px;
}

.example__container {
  padding: 25px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.example__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: $font-big;
  color: $default-black;
  line-height: 40px;
  font-weight: 400;
}

.example__descr {
  font-family: $font-second;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.example__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__block-title {
  margin: 0;
  margin-bottom: -10px;
  padding-top: 14px;
  padding-bottom: 17px;
  width: 124px;
  text-align: center;
  font-size: $font-large;
  line-height: 24px;
  color: $default-black;
  text-transform: uppercase;
  border: 1px solid $light-grey9;
  border-radius: 5px;
}

.example__block-descr {
  margin: 0;
  width: 80px;
  font-family: $font-second;
  font-size: $font-small;
  line-height: 12px;
  text-align: center;
  padding: 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  background: $light-grey2;
}

.example__expenses {
  margin: 0;
  display: flex;
  gap: 5px;
  align-self: center;

  margin-bottom: 20px;
  color: $default-black;
  line-height: 20px;
  text-transform: uppercase;
}

.example__expenses-summ {
  margin: 0;
}

.example__slider-container {
  padding: 0 20px;
}

//**** TABLET ****//

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to top, $light-grey2 30%, $default-white 30%);
    padding-bottom: 101px;
  }

  .example__container {
    padding: 45px 31px;
    padding-bottom: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .example__title {
    margin-bottom: 60px;
    font-size: $font-huge;
    line-height: 60px;
    grid-column: 4 span;
  }

  .example__descr {
    margin: 0;
    padding: 0;
    font-size: $font-medium;
    line-height: 24px;
    margin-bottom: 55px;
    grid-column: 4 span;
  }

  .example__blocks {
    grid-column: 1/4;
    justify-content: start;
    gap: 42px;
    margin: 0;
    margin-bottom: auto;
  }

  .example__block {
    display: flex;
    flex-direction: column;
  }

  .example__block-title {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: -9px;
    align-items: center;
    padding: 15px 10px 20px 10px;
  }

  .example__block-descr {
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    background: $default-white;
  }


  .example__expenses {
    grid-column: 4;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
    line-height: 20px;
    padding-top: 13px;
    gap: 9px;
  }

  .example__slider {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, $light-grey2 70%, $default-white 70%);
  }
}


//****** DESKTOP ******//

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to top, $light-grey2 72.7%, $default-white 72.7%);
  }

  .example-wrapper {
    margin: 0 auto;
    width: 1440px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 0 110px;
    padding-bottom: 0;
  }

  .example__container {
    grid-column: 1/2;
    width: 71%;
    padding: 70px 0 75px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__descr {
    margin: 0;
    margin-bottom: 70px;
    grid-column: 3 span;
    padding-right: 0;
  }

  .example__blocks {
    margin-bottom: 55px;
  }

  .example__block-title {
    padding-top: 18px;
    margin-bottom: -10px;
  }

  .example__block-descr {
    background: $light-grey2;
  }

  .example__expenses {
    grid-row: 4;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 0;
    gap: 63px;
  }

  .example__expenses-title {
    flex-shrink: 0;
  }

  .example__expenses-summ {
    margin: 0;
    flex-shrink: 0;
  }

  .example__slider {
    background: linear-gradient(to top, $light-grey2 74.3%, $default-white 74.3%);
  }

  .example__slider-container {
    grid-column: 2/-1;
    padding-bottom: 20px;
    background: linear-gradient(to top, #f2f2f2 75%, $default-white 75%);
  }
}
