.example {
  background-color: $basic-grey;

  &__container {
    padding: 25px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 99px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: $font-huge;
    color: $main-color;
    line-height: 40px;
    font-weight: 400;
  }

  &__descr {
    font-family: $font-second;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 34px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px 5px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }

  &__block-title {
    margin: 0;
    width: 100px;
    text-align: center;
    font-size: $font-big;
    line-height: 24px;
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__block-descr {
    margin: 0;
    width: 80px;
    font-family: $font-second;
    font-size: $font-small;
    line-height: 12px;
    text-align: center;
    padding: 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    background: $basic-grey;
  }

  &__expenses {

    margin: 0;
    margin-bottom: 20px;
    color: $main-color;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background-color: inherit;

    &__container {
      padding: 45px 31px;
      padding-bottom: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 4 1fr;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 60px;
      line-height: 60px;
      grid-column: 4 span;
    }

    &__descr {
      padding: 0;
      font-size: $font-medium;
      line-height: 24px;
      margin-bottom: 55px;
      grid-column: 4 span;
    }

    &__blocks {
      grid-column: 1/4;
      justify-content: start;
      gap: 42px;
      margin: 0;
    }

    &__block {
      display: flex;
      flex-direction: column;

      align-items: center;
      padding: 15px 10px 25px 10px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;

      &--size {
        padding: 15px 25px 25px 25px;
      }
    }

    &__block-title {
      margin: 0;
      width: 102px;
      text-align: center;
      font-size: 30px;
      line-height: 37pxpx;
      color: $main-color;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &__block-descr {
      margin-bottom: -30px;
      width: 140px;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      padding: 0;
      background: $light-color;

      &--size {
        width: 110px;
      }
    }

    &__expenses {
      grid-row: 4;
      grid-column: 1/4 span;
      max-width: 250px;
      display: flex;
      flex-direction: row;

      align-items: end;
      margin: 0;
      margin-left: auto;
      font-size: 20px;
      color: $main-color;
      line-height: 20px;
      text-transform: uppercase;
    }

    &__container--slider {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      background: linear-gradient(to top, $basic-grey 70%, $light-color 70%);
    }

  }

}


@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to top, $basic-grey 70%, $light-color 70%);
    display: flex;
    align-items: center;

    &__container {
      padding: 0;
      padding: 70px 110px 75 110px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 146px;
    }

    &__descr {
      margin: 0;
      margin-bottom: 70px;
      grid-column: 3 span;
      padding-right: 35px;

    }

    &__blocks {
      margin-bottom: 60px;

    }

    &__block-descr {
      &-descr {
        background: $basic-grey;

    }

    &__expenses {
      grid-row: 4;
      grid-column: 1/4;
      display: flex;
      flex-direction: row;
      margin: 0;
      gap: 63px;

      &-title {
        flex-shrink: 0;
      }

      &-summ {
        flex-shrink: 0;
      }

      &__container--slider-white {
        padding: 0;
        margin: 0;
        align-self: end;


      }
    }
  }

}
