.gift {
  grid-column: 1/3;
  padding: 35px 0;
  padding-bottom: 0;

  &__container {
    margin: 0 auto;
    min-width: 245px;
    min-height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    align-items: center;
    background:
      url("../../img/catalog-image/gift-background-mobile.jpg"),
      $basic-green;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__descr {
    margin: 0;
    padding: 0 50px;
    text-align: center;
    font-family: $font-second;
    color: $default-white;
    font-size: $font-medium;
    line-height: 20px;
  }

  &__link-icon {
    width: 78px;
    height: 80px;
  }
}

//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .gift {
    padding: 70px 0 75px 0;

    &__container {
      padding-left: 77px;
      padding-right: 125px;
      width: 100%;
      min-height: 200px;
      flex-direction: row;
      gap: 48px;
      background:
        url("../../img/catalog-image/gift-background-tablet.jpg"),
        $basic-green;
      background-size: cover;
      justify-content: space-between;
    }

    &__descr {

      max-width: 161px;
      padding: 0;
      text-align: start;
      font-family: $font-second;
      line-height: 20px;
    }

    &__link-icon {
      width: 80px;
      height: 82px;
    }
  }
}

//******************* DESKTOP***********************//

@media (min-width: $desktop-width) {
  .gift {
    grid-column: 3;
    padding: 0 110px 0 0;

    &__container {
      margin-left: 0;
      width: 245px;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      justify-content: center;
      gap: 46px;
      background:
        url("../../img/catalog-image/gift-background-desktop.jpg"),
        $basic-green;
      background-size: cover;
    }

    &__descr {

      max-width: 161px;
      padding: 0;
      text-align: center;
    }

    &__link-icon {
      width: 80px;
      height: 83px;
    }
  }
}
