.gift {
  grid-column: 1/3;
  padding: 35px 20px;
  // padding-bottom: 0;
}

.gift__container {
  margin: 0 auto;
  min-width: 245px;
  min-height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  align-items: center;
  background:
    url("../../img/catalog-image/gift-background-mobile@1x.jpg"),
    $basic-green;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .gift__container {
    background:
      url("../../img/catalog-image/gift-background-mobile@2x.jpg"),
      $basic-green;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.gift__descr {
  margin: 0;
  padding: 0 50px;
  text-align: center;
  font-family: $font-second;
  color: $default-white;
  font-size: $font-medium;
  line-height: 20px;
}

.gift__link-icon {
  width: 78px;
  height: 80px;
}


//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .gift {
    padding: 70px 30px 75px 30px;
  }

  .gift__container {
    padding-left: 77px;
    padding-right: 125px;
    width: 100%;
    min-height: 200px;
    flex-direction: row;
    gap: 48px;
    background:
      url("../../img/catalog-image/gift-background-tablet@1x.jpg"),
      $basic-green;
    background-size: cover;
    justify-content: space-between;
  }

  @media (min-resolution: 2dppx) {
    .gift__container {
      background:
        url("../../img/catalog-image/gift-background-tablet@2x.jpg"),
        $basic-green;
      background-size: cover;
    }
  }

  .gift__descr {

    max-width: 161px;
    padding: 0;
    text-align: start;
    font-family: $font-second;
    line-height: 20px;
  }

  .gift__link-icon {
    width: 80px;
    height: 82px;
  }
}


//******************* DESKTOP***********************//

@media (min-width: $desktop-width) {
  .gift {
    grid-column: 3;
    padding: 0;
  }

  .gift__container {
    margin-left: 0;
    width: 245px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
    background:
      url("../../img/catalog-image/gift-background-desktop@1x.jpg"),
      $basic-green;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) {
    .gift__container {
      background:
        url("../../img/catalog-image/gift-background-desktop@2x.jpg"),
        $basic-green;
      background-size: cover;
    }
  }

  .gift__descr {

    max-width: 161px;
    padding: 0;
    text-align: center;
  }

  .gift__link-icon {
    width: 80px;
    height: 83px;
  }
}
