.main-header {

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

  }

    &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px 14px 20px;
  }

&__title {

&:hover {
  opacity: 0.8;
}

&:active {
  opacity: 0.6;
}

}

}
