.main-header {
<<<<<<< HEAD

=======
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
<<<<<<< HEAD

=======
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px 14px 20px;
  }

  &__logo {
    transition: opacity 0.3s ease-in-out;

    &:focus {
      opacity: 0.6;
      outline: none;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
<<<<<<< HEAD

  }

=======
  }
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
}

//******************* TABLET ***********************//

<<<<<<< HEAD

=======
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
@media (min-width: $tablet-width) {
  .main-header {
    width: 100%;
    padding-bottom: 15px;

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 25px 30px 0 30px;
<<<<<<< HEAD

=======
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
    }

    &__top {
      padding: 0;
      margin-bottom: auto;
    }
  }
}

//******************* DESKTOP***********************//

<<<<<<< HEAD


=======
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
@media (min-width: $desktop-width) {
  .main-header {
    &__container {

      width: 1440px;
      position: absolute;
      z-index: 10;
      padding: 56px 110px 0 110px;
    }

    &__container--visible {
      position: static;
    }
<<<<<<< HEAD

=======
>>>>>>> 218c866376107573cd242722dd44d52f1c6820a6
  }
}
