.main-form__container {
  padding: 27px 0 32px 0;
  border-top: 1px solid $light-grey9;
}

//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .main-form__container {
    padding: 47px 70px 60px 70px;
    border-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

//********************** DESKTOP **********************//

@media (min-width: $desktop-width) {
  .main-form__container {
    padding: 45px 110px 80px 110px;
  }
}
