.main-footer {

  &__container {
    padding: 40px 20px;
    background-color: $basic-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    transition: opacity 0.3s ease-in-out;


    &:hover,
    &:focus {
      opacity: 0.6;
      outline: none;
    }

    &:active {
      opacity: 0.4;
    }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  &__link {
    width: 100%;
    @include link-style;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-second;
    color: inherit;
    font-size: $font-medium;
    line-height: 20px;




    &:focus-within {
      fill: $basic-green;
      outline: none;
    }

    &:hover {
      fill: $basic-green;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      fill: rgba(104, 183, 56, 0.3);
    }

  }

  &__link-icon {
    width: 27px;
    height: 34px;

  }


}
