.main-nav {

  display: none;

  &--show {
    display: block;
    position: relativ;
  }

  &__container {
    display: block;

    position: absolute;
    background-color: $light-color;
    width: 100%;
  }

  &__list {
    @include list-reset;
    border-top: 1px solid #e6e6e6;

  }

  &__item {
    padding: 22px 20px 24px 20px;
    border-bottom: 1px solid #e6e6e6;

  }

  &__link {
    @include link-style;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;
    font-size: 20px;

  }
}
