.main-footer {
  background-color: $light-grey2;
}

.main-footer__container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.main-footer__logo {
  transition: opacity 0.3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.main-footer__link {
  @include link-style;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-second;
  color: inherit;
  font-size: $font-medium;
  line-height: 20px;

  &:focus-within {
    fill: $basic-green;
    outline: none;
  }

  &:hover {
    fill: $basic-green;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    fill: rgba(104, 183, 56, 0.3);
  }
}

.main-footer__link-icon {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    padding: 61px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .main-footer__link {
    gap: 23px;
    justify-content: end;
    font-family: $font-second;
    color: inherit;
    font-size: $font-medium;
    line-height: 20px;
  }
}


@media (min-width: $desktop-width) {
  .main-footer__container {
    width: 1440px;
    margin: 0 auto;
    padding: 70px 110px;
  }
}
