.program-form__title {
  margin: 0;
  padding: 0 20px;
  font-family: $font-page;
  color: $default-black;
  font-size: $font-big;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 37px;
}

.program-form__descr {
  margin: 0;
  padding: 0 20px;
  color: $default-black;
  text-transform: uppercase;
  padding-right: 40px;
  margin-bottom: 37px;
}

.program-form__field {
  margin: 0;
  border: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}

.program-form__label {
  padding: 0;
  font-size: $font-medium;
  text-transform: uppercase;
  display: flex;
  gap: 13px;
  align-items: center;
  position: relative;
}

.program-form__label-radio,
.program-form__label-checkbox {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:active {
    opacity: 0.3;
  }
}

.program-form__label-text {
  white-space: nowrap;
}

.program-form__label-text--radio {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $default-white;
    border: 1px solid $light-grey-d;
    border-radius: 50%;
    left: -38px;
    transition: border-color 0.3s ease-in-out;
  }

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: $basic-green;
    border-radius: 50%;
    left: -28.5px;
    opacity: 0;
  }

  &:hover::before {
    border-color: $light-grey-a;
  }
}

.program-form__label-text--checkbox {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $default-white;
    border: 1px solid $light-grey-d;
    left: -38px;
    transition: border-color 0.3s ease-in-out;
  }

  &::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../../img/tick.svg");
    background-size: cover;
    background-position: center;
    left: -35px;
    opacity: 0;
  }

  &:hover::before {
    border-color: $light-grey-a;
  }
}

.program-form__input {
  width: 100%;
  padding: 14px 15px 13px 15px;
  outline: none;
  border: 1px solid $light-grey7;

  &:hover {
    border-color: $light-grey-d;
  }

  &:focus {
    outline: 2px solid $grey400;
  }

  &::placeholder {
    font-family: $font-page;
    color: $default-black;
    font-size: $font-medium;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.program-form__input--error {
  border-color: $error-color;
}

.program-form__input--error + .program-form__input-contacts-icon {
  stroke: $error-color;
}

.program-form__input-contacts {
  padding-right: 40px;
}

.program-form__input-contacts-icon {
  width: 20px;
  height: 20px;
  stroke: $grey200;
  transition: stroke 0.3s ease-in-out;
  position: absolute;
  right: 15px;
}

.program-form__input-contacts:focus + .program-form__input-contacts-icon {
  stroke: $basic-green;
}

.program-form__radio {
  cursor: pointer;
  opacity: 0;
}

.program-form__radio:disabled + .program-form__label-text {
  opacity: 0.3;
  cursor: auto;
}

.program-form__radio:checked + .program-form__label-text--radio::after {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.program-form__radio:focus + .program-form__label-text--radio::before {
  border-color: $light-grey-a;
}

.program-form__checkbox {
  cursor: pointer;
  opacity: 0;
}

.program-form__checkbox:disabled + .program-form__label-text {
  opacity: 0.3;
  cursor: auto;
}

.program-form__checkbox:checked + .program-form__label-text--checkbox::after {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.program-form__checkbox:focus + .program-form__label-text--checkbox::before {
  border-color: $light-grey-a;
}

.program-form__field--select-program {
  border: none;
  border-top: 1px solid $light-grey9;
  border-bottom: 1px solid $light-grey9;
  padding: 22px 20px 19px 20px;
  margin-bottom: 26px;
  gap: 25px;
}

.program-form__subtitle {
  margin: 0;
  padding: 0;
  max-width: 182px;
  font-size: $font-large;
  line-height: 26px;
  margin-bottom: 36px;
}

.program-form__field--contacts {
  margin-bottom: 24px;
}

.program-form__field--comment {
  margin-bottom: 23px;
}

.program-form__textarea {
  padding: 15px 13px;
  min-height: 150px;

  &::placeholder {
    font-family: $font-page;
    color: $default-black;
    font-size: $font-medium;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}

.program-form__field--extra {
  gap: 25px;
  margin-bottom: 34px;
}

.program-form__bottom-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-form__button {
  width: 100%;
  margin-bottom: 21px;
}

.program-form__footnote {
  margin: 0;
  padding-left: 25px;
  width: 200px;
}


//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .program-form {
    grid-column: 2 span;
  }

  .program-form__title {
    font-size: $font-huge;
    line-height: 60px;
    margin-bottom: 54px;
    padding: 0;
  }

  .program-form__descr {
    width: 400px;
    padding: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__field {
    gap: 20px;
    margin-bottom: 72px;
    padding: 0;
  }

  .program-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__input {
    padding: 11px 20px 11px 20px;
    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .program-form__field--select-program {
    border: 1px solid $light-grey7;
    padding: 23px 27px 27px 27px;
    margin: 0;
    margin-bottom: 65px;
  }

  .program-form__subtitle {
    max-width: 540px;
    font-size: $font-big;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .program-form__field--contacts {
    margin-bottom: 65px;
  }

  .program-form__field--comment {
    margin-bottom: 65px;
  }

  .program-form__textarea {
    padding: 11px 20px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      text-align: start;
    }
  }

  .program-form__field--extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }

  .program-form__bottom-container {
    flex-direction: row;
    gap: 64px;
    align-items: center;
  }

  .program-form__button {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 45px;
    margin-bottom: 0;
  }

  .program-form__footnote {
    padding-left: 0;
    width: auto;
    font-size: 16px;
    line-height: 16px;
  }
}


//********************** DESKTOP **********************//

@media (min-width: $desktop-width) {
  .program-form {
    grid-column: 2 span;
    width: 1220px;
    margin: 0 auto;
  }

  .program-form__title {
    padding: 0;
  }

  .program-form__descr {
    padding: 0;
  }

  .program-form__form {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-areas:
      "user programs"
      "contacts contacts"
      "comment comment"
      "extra extra"
      "bottom bottom";
    column-gap: 80px;
  }

  .program-form__field {
    padding: 0;
  }

  .program-form__field--user-info {
    grid-area: user;
    margin-bottom: 70px;
  }

  .program-form__field--select-program {
    grid-area: programs;
    border: 1px solid $light-grey7;
    padding: 23px 27px 27px 27px;
    margin-bottom: 70px;
    justify-content: space-around;
  }

  .program-form__subtitle {
    &--comment {
      margin-bottom: 78px;
    }
  }

  .program-form__field--contacts {
    grid-area: contacts;
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin-bottom: 70px;
  }

  .program-form__field--comment {
    grid-area: comment;
    margin-bottom: 70px;
  }

  .program-form__textarea {
    width: 1220px;
    padding: 9px 20px;
  }

  .program-form__field--extra {
    width: 1220px;
    grid-area: extra;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }

  .program-form__label-checkbox {
    width: 326px;
  }

  .program-form__bottom-container {
    grid-area: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    padding: 0;
  }
}
