.program-form__title {
  margin: 0;
  padding: 0 20px;
  font-family: $font-page;
  color: $default-black;
  font-size: $font-big;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 37px;
}

.program-form__descr {
  margin: 0;
  padding: 0 20px;
  color: $default-black;
  text-transform: uppercase;
  padding-right: 40px;
  margin-bottom: 41px;
}

.program-form__field {
  margin: 0;
  border: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 23px;
}

.program-form__label {
  padding: 0;
  font-size: $font-medium;
  text-transform: uppercase;
  display: flex;
  gap: 13px;
  align-items: center;
  position: relative;
}

.program-form__label-radio {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:active {
    opacity: 0.3;
  }
}


.program-form__label-checkbox {
  padding-left: 10px;
  padding-top: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:active {
    opacity: 0.3;
  }
}

.program-form__label-text {
  white-space: nowrap;
}

.program-form__label-text--radio {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $default-white;
    border: 1px solid $light-grey-d;
    border-radius: 50%;
    left: -46px;
    transition: border-color 0.3s ease-in-out;
  }

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: $basic-green;
    border-radius: 50%;
    left: -37.4px;
    opacity: 0;
  }

  &:hover::before {
    border-color: $light-grey-a;
  }
}

.program-form__label-text--checkbox {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $default-white;
    border: 1px solid $light-grey-d;
    left: -43px;
    transition: border-color 0.3s ease-in-out;
  }

  &::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../../img/tick.svg");
    background-size: cover;
    background-position: center;
    left: -41px;
    opacity: 0;
  }

  &:hover::before {
    border-color: $light-grey-a;
  }
}

.program-form__input {
  width: 100%;
  padding: 14px 15px 13px 15px;
  outline: none;
  border: 1px solid $light-grey7;

  &:hover {
    border-color: $light-grey-d;
  }

  &:focus {
    outline: 2px solid $grey400;
  }

  &::placeholder {
    font-family: $font-page;
    color: $default-black;
    font-size: $font-medium;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.program-form__input--error {
  border-color: $error-color;
}

.program-form__input--error + .program-form__input-contacts-icon {
  stroke: $error-color;
}

.program-form__input-contacts {
  padding-right: 40px;
}

.program-form__input-contacts-icon {
  width: 20px;
  height: 20px;
  stroke: $grey200;
  transition: stroke 0.3s ease-in-out;
  position: absolute;
  right: 15px;
}

.program-form__input-contacts:focus + .program-form__input-contacts-icon {
  stroke: $basic-green;
}

.program-form__radio {
  cursor: pointer;
  opacity: 0;
}

.program-form__radio:disabled + .program-form__label-text {
  opacity: 0.3;
  cursor: auto;
}

.program-form__radio:checked + .program-form__label-text--radio::after {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.program-form__radio:focus + .program-form__label-text--radio::before {
  border-color: $light-grey-a;
}

.program-form__checkbox {
  cursor: pointer;
  opacity: 0;
}

.program-form__checkbox:disabled + .program-form__label-text {
  opacity: 0.3;
  cursor: auto;
}

.program-form__checkbox:checked + .program-form__label-text--checkbox::after {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.program-form__checkbox:focus + .program-form__label-text--checkbox::before {
  border-color: $light-grey-a;
}

.program-form__field--select-program {
  border: none;
  border-top: 1px solid $light-grey9;
  border-bottom: 1px solid $light-grey9;
  padding: 27px 31px;
  margin-bottom: 26px;
  gap: 24px;
}

.program-form__line {
  margin-left: -42px;
  width: calc(100% + 62px);

  &::before {
    top: 16px;
  }
}

.program-form__subtitle {
  display: block;
  font-weight: 400;
  width: max-content;
  margin: 0;
  padding: 0 20px;
  font-size: $font-large;
  line-height: 26px;
  margin-bottom: 36px;
  background-color: $default-white;
}

.program-form__subtitle--contacts {
  max-width: 226px;
}

.program-form__field--contacts {
  margin-bottom: 24px;
}

.program-form__field--comment {
  margin-bottom: 23px;
}

.program-form__textarea {
  padding: 15px 13px;
  min-height: 150px;

  &::placeholder {
    font-family: $font-page;
    color: $default-black;
    font-size: $font-medium;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}

.program-form__field--extra {
  gap: 19px;
  margin-bottom: 37px;
}

.program-form__bottom-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-form__button {
  width: 100%;
  margin-bottom: 21px;
}

.program-form__footnote {
  margin: 0;
  padding-left: 25px;
  width: 200px;
}


//********************** TABLET **********************//

@media (min-width: $tablet-width) {
  .program-form {
    width: 100%;
    grid-column: 2 span;
  }

  .program-form__title {
    font-size: $font-huge;
    line-height: 60px;
    margin-bottom: 54px;
    padding: 0 70px;
  }

  .program-form__descr {
    width: 505px;
    padding: 0 70px;
    margin-bottom: 67px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__field {
    gap: 22px;
    margin-bottom: 72px;
    padding: 0 70px;
  }

  .program-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__label-contacts {
    margin: 0 70px;
  }

  .program-form__label-checkbox {
    padding-left: 26px;
  }

  .program-form__label-text--radio {
    &::before {
      width: 40px;
      height: 40px;
      left: -59px;
    }

    &::after {
      width: 16px;
      height: 16px;
      left: -46.4px;
    }
  }

  .program-form__label-text--checkbox {
    &::before {
      width: 40px;
      height: 40px;
      left: -59px;
    }

    &::after {
      width: 36px;
      height: 36px;
      left: -55.4px;
    }
  }

  .program-form__input {
    padding: 13px 20px;
    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .program-form__field--select-program {
    border: 1px solid $light-grey7;
    padding: 31px 52px;
    margin: 0 70px;
    margin-bottom: 69px;
    gap: 34px;
  }

  .program-form__line {
    width: 100%;
    margin-left: 0;
  }

  .program-form__line--extra {
    margin-left: -70px;
    width: calc(100% + 140px);
  }

  .program-form__subtitle {
    max-width: none;
    width: max-content;
    font-size: $font-big;
    line-height: 36px;
    margin-bottom: 76px;
    position: relative;
    padding: 0 40px;
    background-color: $default-white;
  }

  .program-form__subtitle--contacts {
    max-width: none;
  }

  .program-form__field--contacts {
    margin-bottom: 65px;
    padding-left: 0;
    padding-right: 0;
  }

  .program-form__field--comment {
    margin-bottom: 65px;
    padding: 0;
  }

  .program-form__textarea {
    margin: 0 70px;
    margin-top: 12px;
    padding: 11px 20px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      text-align: start;
    }
  }

  .program-form__field--extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 47px;
    column-gap: 60px;
    margin-bottom: 63px;
  }

  .program-form__subtitle--extra {
    margin-bottom: 61px;
  }

  .program-form__bottom-container {
    flex-direction: row;
    gap: 64px;
    align-items: center;
    padding: 0 70px;
  }

  .program-form__button {
    width: 284px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 55px;
    margin-bottom: 0;
  }

  .program-form__footnote {
    padding-left: 0;
    width: auto;
    font-family: $font-second;
    font-size: 16px;
    line-height: 16px;
  }
}


//********************** DESKTOP **********************//

@media (min-width: $desktop-width) {
  .program-form {
    // grid-column: 2 span;
    // width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 325px 895px 1fr;
  }

  .program-form__title {
    width: 1220px;
    padding: 0;
    grid-column: 4 span;
    margin-left: auto;
    margin-right: auto;
  }

  .program-form__descr {
    padding: 0;
    width: 325px;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: auto;
  }

  .program-form__form {
    grid-column: 4 span;
    display: grid;
    grid-template-columns: 1fr 570px 570px 1fr;
    grid-template-areas:
      "user programs"
      "contacts contacts"
      "comment comment"
      "extra extra"
      "bottom bottom";
    // column-gap: 80px;
  }

  .program-form__field {
    padding: 0;
  }

  .program-form__field--user-info {
    grid-area: user;
    margin-bottom: 70px;
    grid-column: 2/3;
    margin-left: -40px;
    margin-right: 40px;
  }

  .program-form__field--select-program {
    grid-area: programs;
    grid-column: 3/4;
    border: 1px solid $light-grey7;
    padding: 33px 51px 34px;
    margin: 0;
    margin-left: 40px;
    margin-right: -40px;
    margin-bottom: 70px;
    justify-content: space-around;
  }

  .program-form__line {
    &::before {
      top: 21px;
    }
  }

  .program-form__subtitle {
    &--comment {
      margin-bottom: 78px;
    }
  }

  .program-form__field--contacts {
    grid-area: contacts;
    display: grid;
    grid-template-columns: 1fr 570px 570px 1fr;
    column-gap: 80px;
    margin-bottom: 70px;
    grid-column: 4 span;
  }

  .program-form__label-contacts {
    margin: 0;
  }

  .program-form__label-contacts--email {
    grid-column: 2/3;
  }

  .program-form__label-contacts--phone {
    grid-column: 3/4;
  }

  .program-form__field--comment {
    grid-area: comment;
    margin-bottom: 70px;
    grid-column: 4 span;
  }

  .program-form__textarea {
    width: 1220px;
    padding: 9px 20px;
    margin: 0 auto;
  }

  .program-form__field--extra {
    // width: 1220px;
    grid-area: extra;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    margin-bottom: 70px;
    grid-column: 4 span;
    justify-content: center;
  }

  .program-form__line--extra {
    margin-left: 0;
    width: 100%;
  }

  .program-form__label-checkbox {
    width: 326px;
  }

  .program-form__bottom-container {
    grid-area: bottom;
    display: grid;
    grid-template-columns: 570px 1fr;
    margin-left: -40px;
    gap: 80px;
    align-items: center;
    padding: 0;
    grid-column: 2/4;
  }

  .program-form__button {
    width: 100%;
    padding: 17px 55px;
  }
}
