.promo {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__text-content {
    width: 100%;
    background:
      url("../img/promo-background-mobile.jpg") no-repeat,
      $basic-green;
    background-size: cover;
    padding: 27px 30px 164px 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: $font-big;
    line-height: 36px;
    font-weight: 400;
    color: $default-white;
    text-align: center;
  }

  &__descr {
    margin: 0;
    color: $default-white;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;

  }

  &__image {
    margin-top: -135px;
  }

  &__button {
    @include link-style;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    &__container {
      min-height: 811px;
      position: relative;
      align-items: start;
      margin-left: 120px;
      margin-bottom: 0;
    }

    &__text-content {
      width: 520px;
      background: none;
      padding: 0;
      margin-bottom: 50px;
    }

    &__title {
      color: $default-black;
      font-size: $font-huge;
      line-height: 60px;
      text-align: start;
      margin-bottom: 40px;
    }

    &__descr {
      color: $default-black;
      text-align: start;
      font-size: 20px;
      line-height: 20px;

    }

    &__image {
      margin-top: -140px;
      display: block;
      position: absolute;
      z-index: -1;
      top: 42%;
      left: -14%;


    }

    &__button {
      margin: 0;
    }


  }
}

//** Удалить эксперимент **//
.cat-like {
  display: none;
}

@media (min-width: 1150px) {
  .cat-like {
    display: block;
    width: 550px;
    position: absolute;
    right: 20px;
    top: 130px;

    animation: fadeInFromNone 0.5s ease-in-out;
  }

  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }
}

  @media (min-width: $desktop-width) {

    //** Удалить эксперимент **//
    .cat-like {
      display: none;
    }

    .promo {
      position: relative;

      &--bcg::before {
        content: "";
        position: absolute;
        background:
          url("../../img/promo-background-desktop.jpg"),
          $basic-green;
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
        background-size: cover;
        right: 0;

      }

      &__container {
        width: 100%;
        min-height: 694px;
        position: relative;
        margin: 0;
        padding: 118px 190px 0 190px;
        justify-content: flex-start;

      }

      &__text-content {
        max-width: 480px;
        min-height: 184px;
        background: none;
        margin-top: 107px;
        padding: 0;

      }


      &__image {
        display: block;
        position: absolute;
        z-index: 1;
        top: 16%;
        left: 58%;
        transform: translate(-50%, 33%);


      }
    }
  }
