.promo {
  background:
    url("../img/promo-background-mobile@1x.jpg") no-repeat,
    linear-gradient(to bottom, #64a63a 63%, $default-white 63%);
  background-repeat: no-repeat;
  background-position: top;
}

@media (min-resolution: 2dppx) {
  .promo {
    background:
      url("../img/promo-background-mobile@2x.jpg") no-repeat,
      linear-gradient(to bottom, #64a63a 63%, $default-white 63%);
    background-repeat: no-repeat;
    background-position: top;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  margin-bottom: 20px;
}

.promo__text-content {
  width: 100%;
  margin-bottom: 29px;
}

.promo__title {
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: $font-big;
  line-height: 36px;
  font-weight: 400;
  color: $default-white;
  text-align: center;
}

.promo__descr {
  margin: 0;
  color: $default-white;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.promo__button {
  @include link-style;
  padding-top: 10px;
  padding-bottom: 10px;
}

//**** TABLET ****//

@media (min-width: $tablet-width) {
  .promo {
    background: none;
  }

  .promo__container {
    min-height: 811px;
    position: relative;
    align-items: start;
    // margin-left: 120px;
    margin: 0 auto;
    width: 530px;
  }

  .promo__text-content {
    width: 520px;
    background: none;
    padding: 0;
    margin-bottom: 50px;
  }

  .promo__title {
    color: $default-black;
    font-size: $font-huge;
    line-height: 60px;
    text-align: start;
    margin: 0;
    margin-bottom: 40px;
  }

  .promo__descr {
    color: $default-black;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__image {
    margin-top: -110px;
    display: block;
    position: absolute;
    z-index: -1;
    top: 42%;
    left: -14%;
  }

  .promo__button {
    margin: 0;
  }
}

//**** DESKTOP ****//

@media (min-width: $desktop-width) {
  .promo {
    height: 694px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background:
        url("../img/promo-background-desktop@1x.jpg"),
        $basic-green;
      background-repeat: no-repeat;
      width: 50%;
      height: 100%;
      background-size: cover;
      right: 0;
    }
  }

  @media (min-resolution: 2dppx) {
    .promo {
      &::before {
        background:
          url("../img/promo-background-desktop@2x.jpg"),
          $basic-green;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .promo__container {
    width: 100%;
    min-height: 694px;
    position: relative;
    margin: 0;
    padding: 118px 80px 0 80px;
    justify-content: flex-start;
  }

  .promo__text-content {
    max-width: 480px;
    min-height: 184px;
    background: none;
    margin-top: 107px;
    padding: 0;
    z-index: 10;
  }

  .promo__image {
    display: block;
    position: absolute;
    z-index: 1;
    top: 16%;
    left: 50%;
    transform: translate(-30%, 33%);
  }
}
