.social-list {
  @include list-reset;
  width: 100%;
  padding: 17px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}


.social-list__link {
  display: block;

  &:focus-within {
    fill: $basic-green;
    outline: none;
  }
}

.social-list__link-icon {
  width: 28px;
  height: 22px;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}

//**** TABLET ****//

@media (min-width: $tablet-width) {
  .social-list {
    border: none;
    padding: 0;
  }
}
