.wrapper-line {
  grid-column: 2 span;
  // width: 100%;
  // display: flex;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    top: 14px;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.wrapper-line__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

//**** TABLET ****//

@media (min-width: $tablet-width) {
  .wrapper-line__container {
    padding: 0 30px;
  }

  .wrapper-line {
    &::before {
      top: 20px;
    }
  }
}

//**** DESKTOP ****//

@media (min-width: $desktop-width) {
  .wrapper-line__container {
    padding: 0 70px;
  }

  .wrapper-line {
    &::before {
      top: 23px;
    }
  }
}
