.wrapper-line {
  display: flex;
  gap: 20px;

  &::before {
    content: "";
    height: 15px;
    width: calc(50% - 160px);
    border-bottom: 2px solid $basic-green;
  }

  &::after {
    content: "";
    height: 15px;
    width: 10px;
    border-bottom: 2px solid $basic-green;
    flex-grow: 1;
  }

  &--programs {
    margin: 0 -20px;
  }
}

@media (min-width: $tablet-width) {
  .wrapper-line {
    gap: 40px;

    &::before {
      height: 22px;
      width: calc(50% - 354px);
    }

    &::after {
      height: 22px;
    }

    &--programs {
      grid-column: 2 span;
      margin: 0 -70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrapper-line {
    &::before {
      width: calc(50% - 630px);
    }

    &--programs {
      grid-column: 4 span;
      margin: 0 -110px;

      &::before {
        width: calc(50% - 650px);
      }
    }
  }
}

