.wrapper-line {
  display: flex;
  gap: 20px;

  &::before {
    content: "";
    height: 15px;
    width: calc(50% - 400px);
    border-bottom: 2px solid $basic-green;
  }

  &::after {
    content: "";
    height: 15px;
    width: 10px;
    border-bottom: 2px solid $basic-green;
    flex-grow: 1;
  }
}

.wrapper-line--programs {
  margin: 0 -20px;
}

//**** TABLET ****//

@media (min-width: $tablet-width) {
  .wrapper-line {
    gap: 40px;

    &::before {
      height: 22px;
      width: calc(50% + 30px);
      margin-left: -50%;
    }

    &::after {
      width: calc(50% + -261px);
      height: 22px;
      margin-right: -20px;
    }
  }

  .wrapper-line--programs {
    grid-column: 2 span;
    margin: 0;

    &::before {
      height: 22px;
      width: calc(50% + 30px);
      margin-left: -74px;
    }

    &::after {
      width: calc(50% + 754px);
      height: 22px;
      margin-right: -1442px;
    }
  }
}

//**** DESKTOP ****//

@media (min-width: $desktop-width) {
  .wrapper-line {
    &::before {
      width: calc(50% + 30px);
    }

    &::after {
      width: calc(50% - 261px);
      height: 22px;
      margin-right: -2000px;
    }
  }

  .wrapper-line--programs {
    grid-column: 4 span;
    margin: 0 -110px;

    &::before {
      width: calc(50% + 1000px);
      margin-left: -935px;
    }

    &::after {
      width: calc(50% + 756px);
      height: 22px;
      margin-right: -2000px;
    }
  }
}
