@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./block/visually-hidden.scss";
@import "./block/body.scss";
@import "./block/mail-header.scss";
@import "./block/burger-button.scss";
@import "./block/main-nav.scss";
@import "./block/page-main.scss";
@import "./block/promo.scss";
@import "./block/button.scss";
@import "./block/programs.scss";
@import "./block/technology.scss";
@import "./block/example.scss";
@import "./block/contacts.scss";
@import "./block/main-footer.scss";
@import "./block/social-list.scss";
@import "./block/slider.scss";
@import "./block/catalog.scss";
@import "./block/card.scss";
@import "./block/cross-sell.scss";
@import "./block/gift.scss";
@import "./block/additional-products.scss";











