//font-family
$font-page: "Oswald", "Arial", sans-serif;
$font-second: "Lato", "Arial", sans-serif;

//font-size
$font-small: 12px;
$font-medium: 16px;
$font-big: 24px;
$font-huge: 36px;

//colors
$main-color: #000000;
$nav-desktop: #111111;
$content-color: #444444;
$basic-green: #68b738;
$light-color: #ffffff;
$basic-grey: #f2f2f2;

//media-width
$tablet-width: 768px;
$desktop-width: 1280px;



