@media (min-width: $desktop-width) {
  .additional-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cross-sell {
    grid-column: 1/4;
  }

  .gift {
    grid-column: 4/5;
  }

}
